name: TypeDoc

on:
    - push

jobs:
    build-deploy:
        runs-on: ubuntu-20.04

        steps:
            - uses: actions/checkout@v3
            - name: Switch node version
              shell: bash -l {0}
              run: nvm install
            - name: Install
              run: npm ci
            - name: TypeDoc
              run: npm run typedoc
            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@v4.3.3
              with:
                  branch: gh-pages
                  folder: docs
                  clean: true
                  dry-run: ${{ github.ref != 'refs/heads/main' }}
